.barrenav {
  border-radius: 40px;
  background-color: white;
  color: black;
  opacity: 90%;
  padding:5px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position:fixed;
  left: 50px;
  right: 50px;
  top:10px;

& > div a:not(#LienLogo) {
        border: 2px solid black;
        border-radius: 25px;
        padding: 10px 20px;
        display: inline-block;
}

& > .BoutonProfil {
        margin-right: 100px;
}

& > div a {
        text-decoration:  none ;
        font-size: 30px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
}

& > .SiteLogo {
        align-items: center;
        display: flex;
        padding: 10px;
}

& > .BoutonRecherche {
        align-items: center;
        display: flex;
        padding: 10px;
        gap: 5px;
}

& > .BoutonRecherche input{
        border: 2px solid black;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 30px;
        outline: none;
}

& > .BoutonRecherche button {
        border: 2px solid black;
        border-radius: 25px;
        padding: 10px 20px;
        background-color: white;
        cursor: pointer;
        font-size: 30px;
    }
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.registration-form {
    width: 50%;
    margin: 0 auto;
    margin-top: 250px;  
    height:auto;
    display:grid;
    background: grey;
    border-radius: 20px;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
    gap:40px 30px;
    padding: 20px;
}

.register-elements input{
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 30px;
    outline: none;
    margin: 3px;
}

div a:not(#LienLogo){
    font-size: 30px;
    color: black;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 25px;
}

.Images {
    height: auto;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    float: left;
}

label {
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px;
}

