.barrenav {
  border-radius: 40px;
  background-color: #171c24;
  color: white;
  padding:20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.BoutonProfil {
    margin-right: 100px;
}

div a {
    text-decoration:  none ;
    font-size: 30px;
    color: aliceblue;
}
.SiteLogo {
    align-items: center;
    display: flex;
    padding: 10px;
}

.BoutonRecherche {
    align-items: center;
    display: flex;
    padding: 10px;
}

.BoutonDroites {
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}